*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
 background-color: rgb(196, 22, 22);
}
ul{
    overflow: hidden;
    margin-top: -66;
    margin-left: 50px;
}
   li{
    float: right;
    margin: 25px;
    list-style: none;
   }
   a{
    color: rgb(237, 230, 230);
    font-size: 20px;
    text-decoration: none;
   }

   .header{
    background-image:url(test1.JPG) ;
    height: 100vh;
    background-repeat: no-repeat ;
    background-size: cover;
   }
