.container{
    display: flex;
    justify-content: center;
}
.box{
    border: 2px solid black;
    margin: 20px;
    width: 500px;
    background-color: white;
    height: 400px;
}
img{
    height: 230px;
    width: 400px;
}
h2{
    margin: 10px;
    padding-left: 10px;
}
p{
    margin: 10px;
    padding-left: 10px;
}
button{
    margin-left:5px;
    background-color: black;
    padding: 5px;
    color: white;
    border: 2px solid white;
}